<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Drachenhauch</string>
    <key>CFBundleDisplayName</key>
    <string>Drachenhauch IDE</string>
    <key>CFBundleIdentifier</key>
    <string>de.drachenhauch.ide</string>
    <key>CFBundleVersion</key>
    <string>@FASSUNG@</string>
    <key>CFBundleShortVersionString</key>
    <string>@FASSUNG@</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>dhrt</string>
    <key>CFBundleIconFile</key>
    <string>Drachenhauch</string>
    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Drachenhauch-Quelltext</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>de.drachenhauch.quelltext</string>
            </array>
        </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>de.drachenhauch.quelltext</string>
            <key>UTTypeDescription</key>
            <string>Drachenhauch-Quelltext</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.plain-text</string>
                <string>public.source-code</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>dh</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
